.left-pane h2 {
    margin-bottom: 1rem;
    font-size: 2rem;
}
.description, .education-item {
    margin-bottom: 2rem;
}
.education-item p {
    margin: 0;
}
.year {
    font-weight: 600;
    color: rgba(255,255,255,0.9);
}
.institution {
    font-size: 1.1rem;
}

.expertise-list {
    list-style: none;
}
.expertise-list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;
    font-size: 1.1rem;
}

/* Progress Circle */
@property --p{
  syntax: '<integer>';
  initial-value: 0;
  inherits: false;
}
.progress-circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: grid;
  place-items: center;
  background:
    radial-gradient(closest-side, white 80%, transparent 0 99.9%, white 0),
    conic-gradient(var(--gold) calc(var(--p) * 1%), #ffd98a 0);
  transition: --p 1s .5s;
}

/* Mobile-Responsive Styles */
@media (max-width: 768px) {
  .split-layout {
    display: flex;
    flex-direction: column; /* This forces the left and right sides to stack on top of each other */
    align-items: center;
  }
  
  .left-pane, .contact-right {
    width: 100%; /* Ensures the form and image take up the full screen width */
    padding: 10px; /* Adds breathing room on small screens */
  }
}